<h1>This is the top <a href="https://youtu.be/dQw4w9WgXcQ">hero</a>!!!!</h1>
<div class="grid grid-pad">
  <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </div>
</div>
<my-hero-search></my-hero-search>
